/*font-family: 'Rubik', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'La Belle Aurore', cursive;
font-family: 'Open Sans', sans-serif;

*/


body{
  height:auto;
  background-color: #2133122
  padding: 0px;
  margin:0px;
  font-family: 'Open Sans', sans-serif;
  color:#696969
}


/*globals*/
h1, caption, h3{
  font-family: 'La Belle Aurore', cursive;
}

h3{
  text-transform: capitalize;

}

h1{
  text-align: center;
  padding:0.5em;
  margin-top:1em;
  text-decoration: overline;
}

h1::before{
  content: "~  "
}
h1::after{
  content: "  ~"
}

.container{
  padding:1em
}

.img-fluid{
  max-width: 100%;
  max-height: inherit;
}


/*top page carousel*/
#header{
  max-height: 700px;
  overflow: hidden;
}

.carousel-caption-1{
position: absolute;
top: 25%;
max-height: inherit;
}

.carousel-caption-1 h5{
font-family: 'La Belle Aurore', cursive;
font-size:5em;
max-height: inherit;
color:#696969
}

.carousel-caption-1 p{
  font-size: 2em
}

.carousel-inner{
  height: inherit;
}
#caption2 p{
  color: #696969
}


/*navbar*/
.navbar{
  position: sticky;
  top:0px;
  z-index: 1;
  box-shadow: 0px 1px 10px #999;
  height:3em;
  padding:2px;
  align-items: center;
  color: #d1ccc0;
  background-color: white
}

.navbar a{
  color:#696969;
  text-transform: uppercase;
}

.navbar a:hover{
  color:#d1ccc0
}

.nav-link-wrap{
  position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

/*where in the world*/
.caption{
  font-family: 'La Belle Aurore', cursive;
  font-size: 1.3em;
  color:black;
  text-align: left;
}


/*stories banner*/
#stories-banner{
  width:100%;
  padding:auto;
  height:30em;
  overflow: hidden;
}

#stories-banner img{
  object-fit: cover;
  width: inherit;
  height: inherit;
}





/*recent writings*/
#inner-row-1{
  padding:1em
}

#inner-row-2{
  padding:1em
}


/*sidebar*/
#sidebar{
  border:2px solid #D3D3D3;
  padding:1em;
  text-align: center;
}

#sidebar h3{
  font-family: 'La Belle Aurore', cursive;
  text-transform: capitalize;
  padding-top:1em
}

.sidebar-fa{
  padding:0.2em
}

.me-button{
  margin:2em;
  background-color:springgreen;
  border-radius:0px;
  border-color:#949494;
  text-transform: uppercase;
  font-size: 0.7em;
}

#sidebar img{
  margin-bottom:2em
}

/*gallery section*/

.container-4{
  padding-bottom: 2em;
  padding-top: 2em
}
.container-4 h1{
  padding-bottom: 1em
}
.photo-gal-left{
  padding-right: 0px;
}

.photo-gal-right{
  padding-left: 0px
}

/*Lighbox CSS*/
.lightbox img {
  display: block;
  margin: auto;
}
.lightbox {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 2em;
  box-sizing: border-box;
}


/*there is only art left*/
.container-5 img{
  padding:1em;
  padding-left: 1em
}

/*Footer*/
footer{
  background: grey;
  text-align: center;
}
.footer-icons a{
  font-size: 3em;
  color:white;
  padding: 1em;
  margin:auto;
}

.footer-icons a:hover{
  background-color: red
}
